*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
}

.flex-container{
    padding: 120px 10% 70px 10%;
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.flex-box{
    padding: 5% 0% 5% 5%;
    width: 50%;
    height: fit-content;
    min-height: 200px;
    color: white;
    justify-content: center;
    text-align: left;
}

.flex-box img{
    width: 20%;
    height: auto;
}

.banner{
    overflow: hidden;
    min-height: 400px;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(background.png);
    background-size: cover;
    background-position: center;
}

.banner h1{
    text-align: center;
    margin-top: 15%;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
}

.flex-container{
    padding: 120px 10% 70px 10%;
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.flex-box{
    padding: 5% 0% 5% 5%;
    width: 50%;
    height: fit-content;
    min-height: 200px;
    color: rgb(0, 0, 0);
    justify-content: center;
    text-align: left;
}

.flex-box img{
    width: 20%;
    height: auto;
}

.banner2{
    overflow: hidden;
    min-height: 500px;
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
}

.banner2 h1{
    padding-top: 20%;
}

.banner2 img{
    width: 100%;
    min-width: 300px;
    height: auto;
    position: relative;
}

.imgbox{
    margin-left: -100px;
    margin-bottom: -1000px;
}

.banner3{
    background-color: #D3D4CE;
}

.banner3 p{
    padding: 20px 20px 20px 20px;
}